<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 应用号 -->
  <add key="AppID" value="100000442"/>
  <add key="restfullApi" value="http://gateway.m.uat.qa.nt.ctripcorp.com"/>
  <add key="restfullApiHttps" value="https://restful.m.uat.qa.nt.ctripcorp.com"/>
  <add key="WebresourceBaseUrl" value="http://webresource.fws.qa.nt.ctripcorp.com/"/>
  <add key="WebresourcePDBaseUrl" value="/webapp/myctrip/webresource/"/>
  <add value="collector.logging.sh.ctriptravel.com" key="LoggingServer.V2.IP"/>
  <add value="63100" key="LoggingServer.V2.Port"/>
  <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws"/>
</appSettings>



