<script type="text/lizard-config">
    {
        "url_schema": "common/noticelist",
        "model":{
            "apis": []
        },
        "view":{
            "viewport": ""
        },
        "controller": Lizard.WebresourcePDBaseUrl + "views/common/noticelist.js"
    }
</script>
<script type="text/Lizard-template" id="noticelist">
    <article class="wrap" id="cbox">
        <ul class="myc_nlist" id="lstbox"></ul>

        <script type="text/template" id="lsttpl">
            <li id="<%=i %>">
                <p class="ellips"><%=NoticeTitle %></p>
                <em><%=StartDate %></em><i class="newarr_r"></i>
            </li>
        </script>
    </article>
</script>