<script type="text/lizard-config">
    {
        "url_schema": "common/setting",
        "model":{
            "apis": []
        },
        "view":{
            "viewport": Lizard.T('setting')
        },
        "controller": Lizard.WebresourcePDBaseUrl + "views/common/setting.js"
    }
</script>
<script type="text/Lizard-template" id="setting">
    <section>
        <ul class="info-list">
            <li id="commonInfo">
                常用信息
                <span>旅客、地址、发票管理</span>
                <i class="i-arrow"></i>
            </li>
            <li id="subscibe">
                订阅
                <span>邮件、跟团游</span>
                <i class="i-arrow"></i>
            </li>
        </ul>
    </section>
</script>