<script type="text/lizard-config">{url_schema:"common/feedback",model:{apis:[]},view:{viewport:Lizard.T("feedback")},controller:"/webapp/myctrip/dest/webresource/views/common/feedback.js"}</script><script type="text/Lizard-template" id="feedback"><article class="p10 myc_feedback h100">
        <ul class="list_st_border">
            <li><textarea maxlength="500" class="textarea" id="js_content" placeholder="请输入您的反馈意见（必填，500字以内）"></textarea></li>
            <li>邮箱&nbsp;&nbsp;<input type="email" id="js_mail" class="txt2" placeholder="以便将反馈结果告知您" /></li>
            <li>手机&nbsp;&nbsp;<input type="tel" id="js_mobi" class="txt2" placeholder="输入手机号码" /></li>
        </ul>
        <p id="js_debug">如您需要了解反馈结果,请留下邮箱或手机号码.紧急问题可拨打400-008-6666或10106666获得及时帮助</p>
        <!--<a style="background:#57C43C;color:#fff;position:fixed;left:20px; bottom:20px; border-radius:5px;padding:5px 10px;" href="javascript:localStorage.clear();alert(\'清除成功\');location.reload();">Version 15</a>-->
    </article></script>