<!--online首页模板-->
<div class="layoutfix">
    <div class="main_c">
        <div class="member-box">
            <div class="member-info">
                <div class="member-pic"><i></i><img width="60" data-href="https://sinfo.ctrip.com/MyInfo/AccountCenter/UserInfoUpdate.aspx?v=avapicture" height="60" src="http://pic.c-ctrip.com/h5/rwd_myctrip/portrain_unlogin.png" alt="" /></div>
                <div class="member-name" id="memberbox">
                    <i class="i-user" id="ordinary" style="display:none;"></i>
                    <i class="i-trophy" id="platinum" style="display:none;"></i>
                    <i class="i-gold" id="gold"></i>
                    <span class="member-id" id="username" data-href="https://sinfo.ctrip.com/MyInfo/AccountCenter/UserInfoUpdate.aspx"></span>
                    <a href="https://sinfo.ctrip.com/MyInfo/AccountCenter/UserInfoUpdate.aspx" class="i-edit"></a>
                </div>
                <div class="member-level">
                    <span class="start" id="startlvl">金牌</span>
                    <div class="member-level-bar">
                        <div id="progress" style="width:0%;" data-href="http://my.ctrip.com/adv/Loyalty/MyGrowup.aspx">
                            <span></span>
                        </div>
                    </div>
                    <span class="end" id="endlvl">白金</span>
                    <p id="_basicpoint"></p>
                </div>
            </div>
            <div class="member-message" id="message_centre">
                <a href="http://my.ctrip.com/home/Message/MessageList.aspx" target="_blank" class="home-mail home-mail-app">
                    <i class="i-mail"></i>
                </a>
            </div>
        </div>
        <ul class="account-box">
            <li>礼品卡：<a class="f-price" id="_gift" target="_blank" href="https://secure.ctrip.com/Balance-GiftCard/zh-cn/TravelTicket.aspx"></a><a href="http://lipin.ctrip.com/Online/ypbooking/IndexV2.aspx" class="tag-blue">购买</a></li>
            <li>现金：<a class="f-price" id="_merchantbalance" target="_blank" href="https://secure.ctrip.com/Payment-Base-PaymentPwd/Wallet/View/MyWalletIndex.aspx"></a></li>
            <li>返现：<a class="f-price" id="_cash" target="_blank" href="https://sinfo.ctrip.com/Balance/zh-cn/CashAccount.aspx"></a></li>
            <li>积分：<a class="f-blue" id="_point" target="_blank" href="https://sinfo.ctrip.com/MyInfo/AccountCenter/MyMileage.aspx"></a></li>
            <li>优惠券：<a class="f-blue" id="_promocode" target="_blank" href="https://smarket.ctrip.com/Promocode/zh-cn/Promocode.aspx"></a>张</li>
        </ul>
        <ul class="home-tab" id="ordertab">
            <li data-key="All" class="current">全部订单 <em id="All"></em></li>
            <li data-key="NotTravel">未出行 <em id="NotTravel"></em></li>
            <li data-key="AwaitPay">待付款 <em id="AwaitPay"></em></li>
            <li data-key="AwaitReview">待评价 <em id="AwaitReview"></em></li>
        </ul>
        <!--订单列表容器-->
        <ul class="order-list home-order-list" id="orderlist" style="height:310px"></ul>
        <ul class="home-tab">
            <li class="current">最新收藏</li>
            <li class="more"><a href="http://my.ctrip.com/FavoriteOnline/hotel/hotellist.aspx">更多</a></li>
        </ul>
        <!--收藏列表容器-->
        <ul class="favorite-list basefix" id="favoritelist" style="height:280px"></ul>
    </div>
    <div class="main_r">
        <!-- 应用中心 -->
        <div class="box_widget box_widget_app">
            <div class="box_widget_inner">
                <div class="box_widget_tit"><h3>应用中心</h3></div>
                <div class="box_widget_con">
                    <ul class="list_apply basefix">
                        <li>
                            <a target="_blank" href="http://my.ctrip.com/adv/Loyalty/MyGrowup.aspx">
                                <i class="ico_apply i_apply_grow"></i>我的成长
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://my.ctrip.com/Home/Order/OrderReviewList.aspx">
                                <i class="ico_apply i_apply_comment"></i>我的点评
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://my.ctrip.com/subscription/Subscribe.aspx">
                                <i class="ico_apply i_apply_rss"></i>邮件订阅
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://my.ctrip.com/Customer-API-Online/MyJourney.aspx">
                                <i class="ico_apply i_apply_route"></i>旅行日程
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>			<!-- 社区 -->
        <div class="box_widget box_widget_bbs">
            <div class="box_widget_inner">
                <div class="box_widget_tit"><h3>社区</h3><a target="_blank" href="http://you.ctrip.com/members/" class=" more">我的社区主页&nbsp;&gt;</a></div>
                <div class="box_widget_con">
                    <ul class="list_apply basefix">
                        <li>
                            <a href="http://you.ctrip.com/events/">
                                <i class="ico_apply i_apply_guide"></i>当地向导
                            </a>
                        </li>
                        <li>
                            <a href="http://you.ctrip.com/asks">
                                <i class="ico_apply i_apply_faqs"></i>攻略问答
                            </a>
                        </li>
                        <li>
                            <a href="http://you.ctrip.com/travels/">
                                <i class="ico_apply i_apply_travels"></i>精选游记
                            </a>
                        </li>
                        <li>
                            <a href="http://you.ctrip.com/dianping/">
                                <i class="ico_apply i_apply_share"></i>分享点评
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>			<!-- 我的会员特权 -->
        <div class="box_widget box_widget_privilege">
            <div class="box_widget_inner">
                <div class="box_widget_tit"><h3>我的会员特权</h3><a target="_blank" href="http://my.ctrip.com/adv/Loyalty/MyPrivilege.aspx" class="more">更多&nbsp;&gt;</a></div>
                <div class="box_widget_con" id="user_lvl">
                </div>
            </div>
        </div>			<!-- 会员互动 & 会员规则 -->
        <div class="box_widget box_widget_member">
            <div class="box_widget_inner">
                <div class="box_widget_tit"><h3>会员互动</h3></div>
                <div class="box_widget_con">
                    <ul class="basefix">
                        <li><a target="_blank" href="http://www.ctrip.com/community/senate/activity_index.asp">会员贵宾俱乐部</a></li>
                        <li><a target="_blank" href="http://pages.ctrip.com/commerce/promote/201005/other/jfdhzq/index.htm">积分奖励活动专区</a></li>
                    </ul>
                </div>
                <div class="divide"></div>
                <div class="box_widget_tit"><h3>会员规则</h3></div>
                <div class="box_widget_con">
                    <ul class="basefix">
                        <li><a target="_blank" href="http://my.ctrip.com/adv/Loyalty/MyLevel.aspx">会员升级标准</a></li>
                        <li><a target="_blank" href="http://pages.ctrip.com/commerce/promote/201405/other/jfsd/index.html">携程积分怎么玩儿</a></li>
                    </ul>
                </div>
            </div>
            <!-- 关联微信 -->
            <div class="box_widget_inner widget_bind_weixin">
                <h5><em>订单贴心提醒，</em>行程一手掌握！</h5>
                <p><i class="ico_mbwx i_mbwx_richscan"></i>扫一扫关联微信，订单有变动，官方微信为您及时提醒</p>
                <i class="ico_mbwx i_mbwx_mobile"></i>
                <i class="ico_mbwx i_mbwx_qcode"></i>
            </div>
        </div>
    </div>
</div>
<div class="recommend-board recommend-board-3">
    <ul class="basefix">
        <li class="first"><a target="_blank" href="http://jifen.ctrip.com/rewards/jfhgds/index.aspx"><img src="http://pic.c-ctrip.com/myctripv2/platinum_01_130708.jpg" alt=""></a></li>
        <li><a target="_blank" href="http://pages.ctrip.com/commerce/promote/201306/other/gb/index01.html"><img src="http://pic.c-ctrip.com/myctripv2/pic_diamond_04.jpg" alt=""></a></li>
        <li><a target="_blank" href="http://vacations.ctrip.com/whole-2B126-U-shanghai/?searchValue=%b0%d7%bd%f0%d7%ea%ca%af%b9%f3%b1%f6%d7%a8%cf%ed&searchText=%b0%d7%bd%f0%d7%ea%ca%af%b9%f3%b1%f6%d7%a8%cf%ed"><img src="http://pic.c-ctrip.com/myctripv2/pic_diamond_03.jpg" alt=""></a></li>
    </ul>
</div>